.single-event{
    .sidebar-right-sidebar{
        .box{
            color:black;

            .box-title{
                margin: 15px 15px 25px 15px;
            }

            .box-content{
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}
