.page{
	#notification{
		background-color: #edeef0;
		padding: 15px 0;
		p{
			margin-bottom: 0;
		}
	}
	.nav.nav-accessibility{
		a{
			color:black !important;
		}
	}
}

.sidebar-right-sidebar{
	.box{
		background-color: white;
		box-shadow: none !important;
		border-radius: 4px !important;
		border: 1px solid #ccc;

		&.box-card{
			ul{
				padding-left: 0 !important;

				li{
					list-style: none;
					list-style-type: inherit !important;
				}
			}
		}


		.box-title{
		    font-size: 24px;
		    color: $black;
		    margin: 15px 0 25px 0;
		    font-weight: bolder;
		}

		.box-content{
			ul{
				color:black;
				padding-left:15px;
				li{
					list-style-type:none;
				}
			}
			a{
				color: $pink;
    			text-decoration: underline;
    			font-size: 16px;
			}
			h2 {
			    font-size: 16px;
			    color: $black;
			    font-weight: bolder;
			}
		}
	}
}
.nav-aside {
	margin-bottom: 25px;
	background: #1e1e1e;
	border-radius: 4px !important;

	li{
		position: relative;
		border-color: #3f4140 !important;

		&.current{
			background: #1e1e1e;
		}

		a{
			color: white !important;
			font-weight: bold;
			padding: 15px;
		}
	}
}